<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <bod>

        <div id="the_food_app">

            <my-demo-global-component></my-demo-global-component>
            <my-demo-local-component></my-demo-local-component>

            <h1>{{data.title}}</h1>
            <h2>{{data.subtitle}}</h2>

        <p>Your favorites: {{data.favorites}}</p>

           <div class="food-item" v-for="food in data.foods" :key="food.name">
                <div class="food-title-container">
                    <p> {{food.name}} - {{food.description}} </p>
                    <span @click="updateFavorite(food.name, false)" v-show="food.is_fav" class="fav"><i class="fas fa-star"></i></span>
                    <span @click="updateFavorite(food.name, true)" v-show="!food.is_fav" class="fav"><i class="far fa-star"></i></span>
                </div>

                <img v-bind:src="food.src" width="100" height="100" @mouseover="console.log(`over image ${food.name}`)"/>

                <p v-if="food.percent_carbs >= 80">This food is made up mostly of carbohidrates</p>
                <p v-else-if="food.percent_carbs >=40 && food.percent_carbs < 80">A significant portion of this food is made of carbohidrates</p>
                <p v-else>This food is not a significant source of carbohidrates</p>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js"></script>
        <script src="lodash.js"></script>
        <script src="my-demo-global-component.js"></script>
        <script src="my-demo-local-component.js"></script>
        <script src="main.js"></script>
    </bod>
</html>